# Titanic Dataset - Exploratory Data Analysis (EDA)
This notebook presents a complete EDA of the Titanic dataset using Python (Pandas, Seaborn, Matplotlib).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [ ]:
df = pd.read_csv('train.csv')
df.head()

In [ ]:
# Fill missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

## Univariate Analysis

In [ ]:
# Countplot for Survived
sns.countplot(x='Survived', data=df)
plt.title('Survival Count')
plt.show()

In [ ]:
# Countplot for Gender
sns.countplot(x='Sex', data=df)
plt.title('Gender Count')
plt.show()

In [ ]:
# Age Distribution
sns.histplot(df['Age'], kde=True, bins=30)
plt.title('Age Distribution')
plt.show()

In [ ]:
# Fare Distribution
sns.histplot(df['Fare'], kde=True, bins=30)
plt.title('Fare Distribution')
plt.show()

## Bivariate Analysis & Correlation

In [ ]:
# Heatmap
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Survival Rate by Pclass
sns.barplot(x='Pclass', y='Survived', data=df)
plt.title('Survival Rate by Class')
plt.show()